{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
 --}}

<h1 class="index-h1">AGENDAMENTO DE CONSULTAS</h1>
<hr>
<div class="index-div-1">
  <p>PACIENTES</p>
  <a href="/paciente/login"><button>Sign In</button></a>
  <a href="/paciente/cadastro"><button>Sign Up</button></a>
</div>

<div class="index-div-2">
  <p>MÉDICOS</p>
  <a href="/medico/login"><button>Sign In</button></a>
  <a href="/medico/cadastro"><button>Sign Up</button></a>
</div>