<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shedule Medical Consultation</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/reset.css">
</head>
<body>

<nav class="nav-bar">
  <ul>    
    <a class="nav-bar-item" href="#">Something</a>
    <a class="nav-bar-item" href="#">Something</a>
    <a class="nav-bar-item" href="#">About</a>
  </ul>
</nav>

<div class="container borda">
  {{{body}}}
</div>

<footer class="footer">Footer</footer>

  <script src="/javascripts/script.js"></script>
</body>
</html>