<h1>agendamento-paciente</h1>

<h1>TELA DE BOAS VINDAS - MOSTRAR O HISTÓRICO DE CONSULTAS DO PACINTE</h1>

<div class="">
  <p>AGENDAR NOVA CONSULTA</p>
  <a href="/paciente/data-hora"><button>Avançar</button></a>
{{!--   <a href="/paciente/agendamento"><button>Voltar</button></a>
 --}}
 </div>