<h1>confirmar-dados-consulta-paciente</h1>
<h1>SEUS DADOS ESTÃO CORRETOS?</h1>
<div class="">
  <p></p>
  <a href="/paciente/imprimir"><button>Avançar</button></a>
  <a href="/paciente/data-hora"><button>Corrigir</button></a>
</div>