<h1>imprimir-paciente</h1>

<h1>MOSTRAR OS DETRALHES DA CONSULTA COM INFOS DO MEDICO DATA</h1>
<div class="">
  <p></p>
  <a href="{{!-- /paciente/confirmacao --}}"><button>Confirmar</button></a>
  <a href="/paciente/data-hora"><button>Voltar</button></a>
</div>

  <a href=""><button>Imprimir</button></a>
