<h1>Cadastro de pacientes</h1>

<div class="cadastro-medico-div-container">
  <h2>Informações pessoais</h2>

  <form action="/paciente/cadastro" method="POST">
    <div class="div-dashed">
      <label for="cpf">CPF:* </label>
      <input type="text" name="cpf" required>
      <label for="name">Nome:* </label>
      <input type="text" name="name" required>
      <label for="birthdate">Data de nascimento:* </label>
      <input type="date" name="birthdate" required>
      <label for="telResidencial">Telefone residencial:* </label>
      <input type="tel" name="telResidencial" pattern="[0-9]{2}-[0-9]{4}-[0-9]{4}" placeholder="11-9999-9999" required>
      <label for="cellphone">Celular:* </label>
      <input type="tel" name="cellphone" pattern="[0-9]{2}-[0-9]{5}-[0-9]{4}" placeholder="11-9999-9999" required>
      <label for="healthInsurance">Plano de saúde:* </label>
      <input type="text" name="healthInsurance" required>
    </div>

    <h2 class="cadastro-medico-h2">Informações de acesso</h2>
    <div class="div-dashed">
      <label for="username">E-mail:* </label>
      <input type="text" name="username" required>
      <label for="password">Senha:* </label>
      <input type="password" name="password">
      <input type="submit" value="Gravar" >
      <input type="button" value="Voltar" name="voltar" onclick="location.href='/';">
    </div>
  </form>
</div>