<h1>Login pacientes</h1>

<form action="/paciente/login" method="POST">
  <div class="div-dashed">
    <h2>Já tenho cadastro</h2>
    <label for="username">Usuário: </label>
    <input type="text" name="username" placeholder="Digite seu username" required>
    <label for="senha">Senha: </label>
    <input type="password" name="password" placeholder="Digite sua senha">
    <input type="submit" value="Login" name="gravar" id="gravar">
    <input type="button" value="Voltar" name="voltar" id="voltar" onclick="location.href='/';">
  </div>
</form>